// vars
$main-color: rgba(105, 112, 96, 0.7);
$text-color: rgb(255, 236, 130);
$key-color:  rgb(235, 156, 77);
$white-foot: rgb(241, 241, 241);
$deep-orange:rgb(243, 97, 0);

h1{
    color: $key-color;
}

h2{
    color: $key-color;
}

h3{
    color: $key-color;
}

p{
    color: $text-color;
}

