<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- SEO meta tags -->
    <meta name="description" content="Huerta agroecologica / El jardin de los gatos">
    <meta name="author" content="Pablo Genuardi">
    <meta name="keywords" content="Jardin, huerta, quinta, agroecologico, agroecologica, organico, organica, cursos, workshops, 
                                    talleres, semillas, plantas, plantines, siembra, cosecha, riego, macetas, sustrato, brotes">
    <meta name="robots" content="index, follow">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../img/favicon.ico">

    <title>Nosotros / El jardin de los gatos</title>
    </head>
    <body>
    <!-- Start Nav -->
    <nav class="navbar navbar-expand-lg navbar-light nav-bg-grey sticky-top py-0 isologo-nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <img src="../img/isologo-transparente-3.svg" alt="Isologo del jardin de los gatos">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link mx-3" aria-current="page" href="../views/semillas.html">Semillas</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link mx-3 dropdown-toggle" href="servicios.html" id="navbarDropdown" role="button" 
                    data-bs-toggle="dropdown" aria-expanded="false">Servicios</a>
                    <ul class="dropdown-menu nav-bg-grey" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="servicios.html">Diseño</a></li>
                    <li><a class="dropdown-item" href="servicios.html">Sistemas de riego</a></li>
                    <li><a class="dropdown-item" href="servicios.html">Mantenimiento</a></li>
                    </ul>
                <li class="nav-item">
                    <a class="nav-link mx-3" href="../views/workshops.html">Workshops</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-3" href="../views/quienes-somos.html">Quienes somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-3" href="../views/contacto.html">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-3" href="../views/shop.html">Shop</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>
		<!-- End Nav -->

		<!-- Start Carousel -->
		<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
			<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="../img/quienes-somos.png" class="d-block w-100" alt="">
			</div>
			<div class="carousel-item">
				<img src="../img/crsl-index-03.png" class="d-block w-100" alt="">
			</div>
			<div class="carousel-item">
				<img src="../img/crsl-index-01.png" class="d-block w-100" alt="">
			</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
			</button>
		</div>
	
        <!-- End Carousel -->

		<header class="container-fluid">
			<div class="grey-background-h1 text-center">
				<h1>Quienes somos</h1>
			</div>
			<p class="text-center grey-background">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis mollitia 
				illum alias rem consequatur inventore dignissimos a cupiditate nihil quidem, quae provident. Fugiat temporibus perferendis ad, 
				dolorem sequi dolore, molestiae! Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
				ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
				ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
				Excepteur sint occaecat cupidatat non  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</header>

		<!-- Start Main -->
		<main class="container-fluid">
			<div class="row">

				<!-- Art-1 -->
				<article class="col-sm-12 col-md-12 col-xl-12">
                    <figure class="text-center">
                        <a href="../views/contacto.html">
                            <img class="art-pic round-borders-25" src="../img/el-cazador.png" alt="Cartel tallado en madera en la entrada del barrio El Cazador">
                        </a>
                    </figure>
                        <h2 class="grey-background-h2 text-center">Barrio parque El Cazador</h2>
                            <p class="text-center grey-background">El Cazador es un barrio bonaerense ubicado en el noroeste de la ciudad de Belén de Escobar, 
								Provincia de Buenos Aires, Argentina. No se sabe con exactitud el día de su nacimiento como barrio, ya que nunca se investigó 
								oficialmente sobre sus orígenes. </p>
							<h2 class="grey-background-h2 text-center">Leyenda del barrio</h2>
							<p class="text-center grey-background">Nunca se han investigado los orígenes del nombre del barrio pero existe una leyenda muy 
								antigua y muy conocida en estas zonas, que según relatan cerca del año 1875 un extraño hombre descendió a la estación de 
								Belen de Escobar, portando armas de fuego y se encaminó a este lugar que en esos entonces era simplemente un bosque deshabitado 
								de personas. Este lugar paso a ser su hogar y allí vivió varios años, sustentado de la caza y la pesca. 
								<br>
								Intencionalmente, este hombre estaba marcando el nombre de este barrio que conocemos hoy, ya que los pobladores de alrededores 
								que vivían en la ciudad comenzaron a llamar este lugar Las tierras del cazador. Años más tarde este hombre desapareció del lugar, 
								sin dejar ningún rastro, dejando atrás una incógnita. Tanto que llegó a convertirse en una leyenda, y el nombre El Cazador quedó 
								grabado en este lugar para siempre identificando a este barrio. 
								<br>
							</p>
				</article>
					<!-- Art-2 -->
                <article class="col-sm-12 col-md-6 col-xl-6">
                    <figure class="text-center">
                        <a href="../views/contacto.html">
                            <img class="round-borders-25 art-pic" src="../img/mapa.png" alt="mapa del barrio el cazador">
                        </a>
                    </figure>
                        <h2 class="grey-background-h2 text-center">Geografía</h2>
                            <p class="text-center grey-background">El Cazador es un barrio con un paisaje agreste y natural, con calles arboladas. 
								Actualmente el Barrio El Cazador es parte integrante de la zona de barrios cerrados y countries con mayor crecimiento en el 
								norte de Buenos Aires. En la parte este del barrio se encuentra una gran barranca donde del otro lado se encuentran todos los 
								countries.
							</p>
					<figure class="text-center">
                        <a href="../views/contacto.html">
                            <img class="round-borders-25 art-pic" src="../img/calle.webp" alt="calle del barrio el cazador">
                        </a>
                    </figure>
                </article>
					<!-- Art-3 -->
				<article class="col-sm-12 col-md-6 col-xl-6">
                    <figure class="text-center">
                        <a href="../views/contacto.html">
                            <img class="round-borders-25 art-pic" src="../img/monumento.png" alt="Monumento a Florencio Molina Campos">
                        </a>
                    </figure>
                        <h2 class="grey-background-h2 text-center">Plazas del barrio</h2>
                            <p class="text-center grey-background">
								<strong>-Monumento a Florencio Molina Campos:</strong> Es la primera plaza del barrio ubicada justo en la entrada, donde se encuentra una 
								estatua monumento al gaucho Florencio Molina Campos.
								<br>

								<strong>-Plaza de Manny:</strong> Es una plaza ubicada en la calle Kennedy, casi en el límite con Barrio Manny.
								<br>
							
								<strong>-Plaza Japón:</strong> Es una plaza famosa en todo Belén de Escobar, que en ella se encuentra en la calle Lincoln y Miguel Cané. 
								Su nombre se lo da una gran piedra ubicada en el medio de la plaza que fue traída desde suelo nipón.
								<br>
							
								<strong>-Rotonda del pino:</strong> Es un lugar que hasta hace poco solo era una rotonda común con un cedro muy antiguo ubicado en el medio; 
								pero la municipalidad de Belén de Escobar la transformó en una plaza añadiéndole bancos y tachos de basura. 
								A veces los vecinos del barrio se reúnen en esta plaza para hacer shows de canto y otras actividades.
								<br>

							</p>
				</article>
			</div>
		</main>

		<!-- Start Footer -->
		<footer class="container-fluid" >
            <a href="../index.html">
                <img class="f-spacing" src="../img/jardin-de-los-gatos-B.svg" alt="Isologo del jardin de los gatos">
            </a>
			<p class="f-spacing text-powered-by">©2022. Powered by Centauro</p>
			<a href="https://www.instagram.com" target="_blank">
				<img class="f-spacing icons-size" src="../img/instagram-100.svg"  alt="icono de instagram">
			</a>
			<a href="https://www.facebook.com" target="_blank">
				<img class="f-spacing icons-size" src="../img/facebook-100.svg"  alt="icono de facebook">
			</a>
			<a href="https://www.youtube.com" target="_blank">
				<img class="f-spacing icons-size" src="../img/youtube-100.svg"  alt="icono de youtube">
			</a>
			<a href="https://www.linkedin.com" target="_blank">
				<img class="f-spacing icons-size" src="../img/linkedin-100.svg"  alt="icono de linkedin">
			</a>
		</footer>
		
		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
		crossorigin="anonymous"></script>
					
	</body>
</html>
