<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- SEO meta tags -->
    <meta name="description" content="Huerta agroecologica / El jardin de los gatos">
    <meta name="author" content="Pablo Genuardi">
    <meta name="keywords" content="Jardin, huerta, quinta, agroecologico, agroecologica, organico, organica, cursos, workshops, 
                                    talleres, semillas, plantas, plantines, siembra, cosecha, riego, macetas, sustrato, brotes">
    <meta name="robots" content="index, follow">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../img/favicon.ico">

    <title>Semillas Organicas / El jardin de los gatos</title>
    </head>
    <body>
    <!-- Start Nav -->
		<nav class="navbar navbar-expand-lg navbar-light nav-bg-grey sticky-top py-0 isologo-nav">
			<div class="container-fluid">
				<a class="navbar-brand" href="../index.html">
					<img src="../img/isologo-transparente-3.svg" alt="Isologo del jardin de los gatos">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link mx-3" aria-current="page" href="../views/semillas.html">Semillas</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link mx-3 dropdown-toggle" href="servicios.html" id="navbarDropdown" role="button" 
						data-bs-toggle="dropdown" aria-expanded="false">Servicios</a>
						<ul class="dropdown-menu nav-bg-grey" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="servicios.html">Diseño</a></li>
						<li><a class="dropdown-item" href="servicios.html">Sistemas de riego</a></li>
						<li><a class="dropdown-item" href="servicios.html">Mantenimiento</a></li>
						</ul>
					<li class="nav-item">
						<a class="nav-link mx-3" href="../views/workshops.html">Workshops</a>
					</li>
					<li class="nav-item">
						<a class="nav-link mx-3" href="../views/quienes-somos.html">Quienes somos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link mx-3" href="../views/contacto.html">Contacto</a>
					</li>
					<li class="nav-item">
						<a class="nav-link mx-3" href="../views/shop.html">Shop</a>
					</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- End Nav -->

    <!-- Start Carousel -->
		<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
			<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="../img/crsl-sem-00.png" class="d-block w-100" alt="diferentes tipos de semillas esparcidas">
			</div>
			<div class="carousel-item">
				<img src="../img/crsl-sem-01.png" class="d-block w-100" alt="una parte del catalogo de semillas">
			</div>
			<div class="carousel-item">
				<img src="../img/crsl-sem-02.png" class="d-block w-100" alt="otra parte del catalogo de semillas">
			</div>
			<div class="carousel-item">
				<img src="../img/crsl-sem-03.png" class="d-block w-100" alt="otra parte del catalogo de semillas">
			</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
			</button>
		</div>

<!-- End Carousel -->
		<header class="container-fluid">
			<div class="grey-background-h1 text-center">
				<h1>Nuestras Semillas</h1>
			</div>
		</header>

<!-- Start Main -->
		<main>
			<div class="container-fluid">
                <p class="text-center grey-background">Despues de los primeros años de experiencia en nuestra huerta fuimos coleccionando
				una gran variedad de semillas de diferentes especies provenientes de distintas partes del mundo, <br> que de a poco se fueron 
				adaptando a nuestro suelo y clima dando lugar a increibles cosechas, siempre con mucha dedicacion y trabajo. <br> 
				Con el tiempo fuimos recolectando muchas mas semillas de las que necesitabamos y asi surgio la idea de ponerlas a 
				disponibilidad de otros jardineros. <br> 
				Las semillas agroecologicas del jardin de los gatos han viajado a casi todas las provincias de nuestro territorio, formando
				contactos y amistades que perduran hasta hoy. <br> Visita nuestra tienda, contactanos y se parte del jardin de los gatos!</p>
            </div>
			<section class="container-fluid">
				<div class="grey-background-h2 text-center">
					<h2>Cuando sembrar</h2>
				</div>
            </section>
			<!-- Start Table -->
			<div>
				<table class="table table-striped table-dark">
					<thead class="table-text">
						<tr>
						<th scope="col"></th>
						<th scope="col">Primavera-Verano</th>
						<th scope="col">Otoño-Invierno</th>
						</tr>
					</thead>
					<tbody class="text-center table-text-2">
						<tr>
						<th scope="row"></th>
						<td>Tomates</td>
                        <td>Espinaca</td>
						</tr>
						<tr>
						<th scope="row"></th>
						<td>Berenjena</td>
                        <td>Pak Choi</td>
						</tr>
						<tr>
						<th scope="row"></th>
						<td>Pimientos</td>
                        <td>Brocoli</td>
						</tr>
						<tr>
						<th scope="row"></th>
						<td>Calabaza</td>
                        <td>Coliflor</td>
						</tr>
						<th scope="row"></th>
						<td>Zapallo</td>
						<td>Habas</td>
						</tr>
						<th scope="row"></th>
						<td>Pepino</td>
                        <td>Arvejas</td>
						</tr>
						<th scope="row"></th>
						<td>Acelga</td>
                        <td>Acelga</td>
						</tr>
						<th scope="row"></th>
						<td>Cebolla</td>
						<td>Cebolla</td>
						</tr>
						<th scope="row"></th>
						<td>Verdeo</td>
						<td>Verdeo</td>
						</tr>
						<th scope="row"></th>
						<td>Lechuga</td>
						<td>Lechuga</td>
						</tr>
						<th scope="row"></th>
						<td>Zucchini</td>
						<td>Repollo</td>
						</tr>
						<th scope="row"></th>
						<td>Remolacha</td>
						<td>Remolacha</td>
						</tr>
						<th scope="row"></th>
						<td>Papas</td>
						<td>Kale</td>
						</tr>
						<th scope="row"></th>
						<td>Choclo</td>
						<td>Apio</td>
						</tr>
						<th scope="row"></th>
						<td>Chauchas</td>
						<td>Puerros</td>
						</tr>						
					</tbody>
				</table>
			</div>
		</main>
	<!-- End Table -->
	
	<!-- Start Footer -->
		<footer class="container-fluid">
			<a href="../index.html">
                <img class="f-spacing" src="../img/jardin-de-los-gatos-B.svg" alt="Isologo del jardin de los gatos">
            </a>
			<p class="f-spacing text-powered-by">©2022. Powered by Centauro</p>
			<a href="https://www.instagram.com" target="_blank">
				<img class="f-spacing icons-size" src="../img/instagram-100.svg"  alt="icono de instagram">
			</a>
			<a href="https://www.facebook.com" target="_blank">
				<img class="f-spacing icons-size" src="../img/facebook-100.svg"  alt="icono de facebook">
			</a>
			<a href="https://www.youtube.com" target="_blank">
				<img class="f-spacing icons-size" src="../img/youtube-100.svg"  alt="icono de youtube">
			</a>
			<a href="https://www.linkedin.com" target="_blank">
				<img class="f-spacing icons-size" src="../img/linkedin-100.svg"  alt="icono de linkedin">
			</a>
		</footer>
		
		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
		crossorigin="anonymous"></script>
	
	</body>
</html>