<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO meta tags -->
    <meta name="description" content="Huerta agroecologica / El jardin de los gatos">
    <meta name="author" content="Pablo Genuardi">
    <meta name="keywords" content="Jardin, huerta, quinta, agroecologico, agroecologica, organico, organica, cursos, workshops, 
                                    talleres, semillas, plantas, plantines, siembra, cosecha, riego, macetas, sustrato, brotes">
    <meta name="robots" content="index, follow">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../img/favicon.ico">

    <title>Servicios / El jardin de los gatos</title>
    </head>
    <body>
    <!-- Start Nav -->
    <nav class="navbar navbar-expand-lg navbar-light nav-bg-grey sticky-top py-0 isologo-nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <img src="../img/isologo-transparente-3.svg" alt="Isologo del jardin de los gatos">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link mx-3" aria-current="page" href="../views/semillas.html">Semillas</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link mx-3 dropdown-toggle" href="servicios.html" id="navbarDropdown" role="button" 
                    data-bs-toggle="dropdown" aria-expanded="false">Servicios</a>
                    <ul class="dropdown-menu nav-bg-grey" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="servicios.html">Diseño</a></li>
                    <li><a class="dropdown-item" href="servicios.html">Sistemas de riego</a></li>
                    <li><a class="dropdown-item" href="servicios.html">Mantenimiento</a></li>
                    </ul>
                <li class="nav-item">
                    <a class="nav-link mx-3" href="../views/workshops.html">Workshops</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-3" href="../views/quienes-somos.html">Quienes somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-3" href="../views/contacto.html">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-3" href="../views/shop.html">Shop</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>
		<!-- End Nav -->

		<!-- Start Carousel -->
		<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
			<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="../img/servicios.png" class="d-block w-100" alt="">
			</div>
			<div class="carousel-item">
				<img src="../img/plantines.png" class="d-block w-100" alt="">
			</div>
			<div class="carousel-item">
				<img src="../img/crsl-index-03.png" class="d-block w-100" alt="">
			</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
			</button>
		</div>
	<!-- End Carousel -->

		<header class="container-fluid">
			<div class="grey-background-h1 text-center">
				<h1>Servicios</h1>
			</div>
		</header>

		<!-- Start Main -->
		<main>
			<div class="container-fluid">
			<p class="text-center grey-background">Desde que construimos nuestra huerta, fuimos acumulando experiencia y herramientas que nos
				permitieron ayudar a algunos de nuestros vecinos amigos a optimizar y renovar sus huertas y jardines.
				De esa manera surgio la posibilidad de ofrecer nuestros servicios, juntando fuerzas y sumando al equipo a Enrique y Marcelo,
                dos experimentados y conocidos jardineros del barrio. Juntos llevamos a cabo los proyectos que se presentan. <br>
				<b>No dudes en contactarnos para diseñar, desarrollar y poner en marcha ese proyecto con el que soñas para tu jardin.</b>   
				</p>
			</div>
		</main>

		<!-- Start Aside -->
		<aside class="container-fluid">
			<div class="row">
				<!-- Art-1 -->
				<article class="col-sm-12 col-md-6 col-xl-3">
                    <figure class="text-center">
                        <a href="../views/contacto.html">
                            <img class="round-borders-25 art-pic" src="../img/design-small.png" alt="diseño de huertas">
                        </a>
                    </figure>
                        <h2 class="grey-background-h2 text-center">Diseño y desarrollo de huertas familiares</h2>
                            <p class="text-center grey-background">Desde pequeñas maceto-huertas a grandes diseños familiares,   
                                te ayudamos a concretar tu proyecto basado en el espacio del que dispongas.</p>
                </article>
				<!-- Art-2 -->
				<article class="col-sm-12 col-md-6 col-xl-3">
                    <figure class="text-center">
                        <a href="../views/contacto.html">
                            <img class="round-borders-25 art-pic" src="../img/riego-small.png" alt="sistemas de riego">
                        </a>
                    </figure>
                        <h2 class="grey-background-h2 text-center">Sistemas de riego automatizados</h2>
                            <p class="text-center grey-background">Los sistemas de riego automatizados son un aliado infalible
                            a la hora de mantener nuestras huertas y jardines bien hidratados.
                            </p>
                </article>
				<!-- Art-3 -->
				<article class="col-sm-12 col-md-6 col-xl-3">
                    <figure class="text-center">
                        <a href="../views/contacto.html">
                            <img class="round-borders-25 art-pic" src="../img/mantenimiento-small.png" alt="Mantenimiento de huertas">
                        </a>
                    </figure>
                        <h2 class="grey-background-h2 text-center">Mantenimiento, renovacion y planificacion de cultivos</h2>
                            <p class="text-center grey-background">Conta con nosotros para planificar tus cultivos y arrancar tu huerta
                            de cero como asi tambien en lo que respecta a su mantenimiento.    
                            </p>
                </article>
                <!-- Art-4 -->
                <article class="col-sm-12 col-md-6 col-xl-3">
                    <figure class="text-center">
                        <a href="../views/contacto.html">
                            <img class="round-borders-25 art-pic" src="../img/paisajismo.png" alt="Mantenimiento de huertas">
                        </a>
                    </figure>
                        <h2 class="grey-background-h2 text-center">Paisajismo y Jardineria en general</h2>
                            <p class="text-center grey-background">Asesoramiento para todo lo que necesiten tus plantas y tu jardin.
                            Trabajamos con los mejores viveros de Escobar.
                            </p>
                </article>
            </div>
        </aside>

		<!-- Start Footer -->
		<footer class="container-fluid" >
            <a href="../index.html">
                <img class="f-spacing" src="../img/jardin-de-los-gatos-B.svg" alt="Isologo del jardin de los gatos">
            </a>
			<p class="f-spacing text-powered-by">©2022. Powered by Centauro</p>
			<a href="https://www.instagram.com" target="_blank">
				<img class="f-spacing icons-size" src="../img/instagram-100.svg"  alt="icono de instagram">
			</a>
			<a href="https://www.facebook.com" target="_blank">
				<img class="f-spacing icons-size" src="../img/facebook-100.svg"  alt="icono de facebook">
			</a>
			<a href="https://www.youtube.com" target="_blank">
				<img class="f-spacing icons-size" src="../img/youtube-100.svg"  alt="icono de youtube">
			</a>
			<a href="https://www.linkedin.com" target="_blank">
				<img class="f-spacing icons-size" src="../img/linkedin-100.svg"  alt="icono de linkedin">
			</a>
		</footer>
		
		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
		crossorigin="anonymous"></script>
	
	</body>
</html>